<html>
    <head>
        <title>Chat Application</title>
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"></style>
    </head>
    <body>
        <div>
            <h4>Chat</h4>
            <div id="chatBox"></div>
            <form id="chatForm">
                <input placeholder="Name" name="chatUser" />
                <input placeholder="Text" name="chatText" />
            </form>
        </div>
    </body>
</html>